<div class="px-1 py-1 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">About</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nobis laudantium suscipit, eaque provident minima vero eius exercitationem voluptate omnis porro tempore rem odit numquam architecto dolor optio, facere dolore reprehenderit doloremque eum consequuntur beatae laborum quidem? Accusamus tenetur corrupti, quos accusantium ipsam temporibus, praesentium quaerat vero laboriosam error voluptatibus!
        </p>

    </div>
</div>