<div class="px-1 py-1 my-5 text-center">
    <img class="d-block mx-auto mb-4" width="30%" height="30%" src="#URL#public/img/pic1.jpg">
    <h1 class="display-5 fw-bold text-body-emphasis">Lorem Ipsum</h1>
    <div class="lead mb-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam accusamus iure impedit ad atque! Dicta cumque laborum eaque, voluptas ratione fugiat earum aut perspiciatis eum vero suscipit, quo numquam nihil facilis architecto ipsum sunt excepturi magni quisquam accusamus similique reiciendis, deleniti eveniet quam! Aliquid, molestias. Consequuntur et fuga possimus sit.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg- px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
    </div>
</div>