<nav class="bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="#URL#" class="nav-link link-body-emphasis px-2">Home</a></li>
            <li class="nav-item"><a href="#URL#Main/show/about" class="nav-link link-body-emphasis px-2">About</a></li>
            <li class="nav-item"><a href="#URL#Main/show/contact" class="nav-link link-body-emphasis px-2">Contact</a></li>
        </ul>

        #SYSTEM-MENU#
    </div>
</nav>