<!DOCTYPE html>
<html>
	<head>
		<title>Calango Framework</title>
		<link rel="stylesheet" href="#URL#public/css/bootstrap.min.css">
	</head>
	<body class="container">
		<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			#HEADER#
		</header>
		<menu class="container">
			#MENU#
		</menu>
		<main class="container">
			#CONTENT#
		</main>
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			#FOOTER#
		</footer>
		
		<script src="#URL#public/js/bootstrap.bundle.min.js"></script>
	</body>
</html>

