<h5>User List</h5>

<div class="table-responsive-sm">
    <table class="table table-sm">
        <thead class="table-light">
            <tr>
                <th scope="col" width ="40%">Username</th>
                <th scope="col" width ="40%">Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><a href="#URL##MODULE#/read/#ID#">#USERNAME#</a></th>
                <td>#PASSWORD#</td>
            </tr>
        </tbody>
    </table>
</div>